
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playwrite+HR:wght@100..400&family=Playwrite+HU:wght@100..400&family=Playwrite+PE:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

.navbar{
    color: #49557e;
   padding-top: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.foodflick{
    color:#ff4d00;
    font-size: 1.7rem;
    font-family: 'Open Sans';
    
}


.sign-in-btn{
    border: #49557e 1px solid;  
    border-radius: 25px;
    padding: 0.1rem 1rem;
    transition: all 0.3s;
}
.sign-in-btn:hover{
    background-color:rgb(243, 238, 238) ;

}

.navbar .active{
    padding-bottom: 2px;
    border-bottom: 2px solid #49557e;
}
.navbar-menu-list li{
    cursor: pointer;
}
.cart-count{
    z-index: 100;
   top:-9px;
   right: -6px;
   text-align: center;
   color: white;
   cursor: pointer;
}
.dot{
    background-color: rgba(255, 60, 0, 0.648);
   height: 1rem;
   width: 1rem;
    border-radius: 50%;
    position: absolute;
    bottom: 5px;
    right: -10px;
    cursor: pointer;
}

.user-profile:hover .user-profile-dropdown{
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #fff2ef;
    padding: 12px 25px;
    border-radius: 4px;
    border:1px solid #ff4d00;
    outline:2px solid white;
    z-index: 100;


}

@media (max-width:768px){
   .navbar-menu{
    display: none;
   }
}
@media(max-width:500px){
    .foodflick{
        font-size: 1.3rem;
    }
    .sign-in-btn{
        padding: 0px 7px;
        font-size: 0.9rem;
    }
   
}